{% extends "blog/base.html" %}
{% load staticfiles i18n static %}

{% block content %}
    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">                          
            {% if form.errors.items|length == 1 %}
                {% trans "Please correct the error below." %}
            {% else %}
                {% trans "Please correct the errors below." %}
            {% endif %}
        </p>
    {% endif %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <form action="{{ app_path }}" method="post" id="login-form">                
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username.errors }}{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password1.label_tag }}</td>
            <td>{{ form.password1.errors }}{{ form.password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.password2.label_tag }}</td>
            <td>{{ form.password2.errors }}{{ form.password2 }}</td>
        </tr>        
        </table>

        <input type="submit" value="Зарегистрироваться" />
        <input type="hidden" name="next" value="{{ next }}" />      
    </form>
{% endblock %}