<html>
    <head>
        <title>Django::blog</title>
    </head>
    
    <body>
        <div>
            <h1><a href="https://tutorial.djangogirls.org/ru/html/">Django Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>      <!-- прогоняет текст через фильтр, для преобразования переносов строк в параграфы. -->
                <p>published: {{ post.published_date }}</p>          
            </div>
        {% endfor %}
        
    </body>
</html>