<html>
    <head>
        <title>Django::blog</title>
    </head>
    
    <body>
        <div>
            <h1><a href="https://tutorial.djangogirls.org/ru/html/">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Ты можешь немного повеселиться сейчас и попробовать настроить шаблон по своему вкусу! Вот несколько полезных тегов.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Тег div содержит текст записи и дату публикации, h2 тег с заголовком записи, который также является ссылкой, и два p (параграфа) с текстом, один для даты и другой для самого текста записи.</p>
        </div>
    </body>
</html>